header{
    position:fixed;
    top:0px;
    height:150px;
    width:100%;
    text-align:center;
    color:white;
    background-color: black;
    line-height:150px;
}
nav{
    position:fixed;
    top:150px;
    height:70px;
    width:100%;
    text-align:center;
    color:white;
    background-color: gray;
    line-height:70px;
}
section{
    position:fixed;
    background-color: lightgray;
    top:220px;
    height:100%;
    width:100%;
}
footer{
    position:fixed;
    bottom:0px;
    height:80px;
    width:100%;
    text-align:center;
    color:white;
    background-color: black;
    line-height:80px;
}